<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} - Grupo Puntacana</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-50">
    {% include 'nav.html' %}

    <div class="max-w-6xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'footer.html' %}
</body>

</html>